{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    <link href="/static/css/form.css" rel="stylesheet">
{% endblock %}

{% block central_column %}
    <form class="form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        <h2 class="form-heading">Send password reset instructions</h2>
        {{ forgot_password_form.hidden_tag() }}
        {{ macros.render_field(forgot_password_form.email) }}
        {{ macros.render_field(forgot_password_form.submit) }}
    </form>
{% endblock %}

{% block side_column %}
    {{ macros.security_widget('reset') }}
{% endblock %}