{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    <link href="/static/css/form.css" rel="stylesheet">
{% endblock %}

{% block central_column %}
    <form class="form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        <h2 class="form-heading">Login</h2>
        {{ login_user_form.hidden_tag() }}
        {{ macros.render_field(login_user_form.email) }}
        {{ macros.render_field(login_user_form.password) }}
        {{ macros.render_field(login_user_form.remember, label_visible=true) }}
        {{ macros.render_field(login_user_form.submit) }}
    </form>
{% endblock %}

{% block side_column %}
    {{ macros.security_widget('login') }}
{% endblock %}