.base-content {
    padding-top: 70px;
}

hr {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.post-comments.comment_dep_1 {
    margin-left: 8%;
}

.post-comments.comment_dep_2 {
    margin-left: 5%;
}

.post-comments.comment_dep_3 {
    margin-left: 3%;
}

.post-comments.comment_dep_4 {
    margin-left: 2%;
}

.post-comments.comment_dep_5 {
    margin-left: 1%;
}