{% extends "base.html" %}
{% block style %}
<link href="/static/cover.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Tingmen</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">{{ title }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Welcome to Tingmen</h1>
                <p class="lead">Tingmen is a social network where every feature and aspect of the website can be changed or added by users whit a voting system.</p>
                <p class="lead">This project is still in a very early phase of development. You can check how things are going on the <a href="https://github.com/pasqu4le/tingmen">Github page</a>.</p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Based on cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}