{% extends "base.html" %}

{% block content %}
    <div class="container top-container">
        <div class="panel panel-default jumbotron">
            <div class="panel-title">
                <h1 class="text-center">Welcome to Tingsmen</h1>
            </div>
            <div class="panel-body text-center">
                <h3 class="text-justified">Tingsmen ['tɪŋzmɛn] is a community-centered social network. Here every feature and design of the website can be changed, removed or added by users with a voting system.</h3>
                <hr>
                <p>Wanna know how? <a href="/page/Laws" class="btn btn-default">Read more</a></p>
                <p>The website is currently in BETA and opened to a 1000 user <a href="/register" class="btn btn-default">Sign up</a></p>
                <p>This project is still in a very early phase of development. You can check how things are going on the <a href="https://github.com/pasqu4le/tingmen">Github page</a>, or you can register into our mailing list: <a href="/subscribe/news/" class="btn btn-primary">Subscribe</a></p>
            </div>
        </div>
    </div>
{% endblock %}