{% extends "base.html" %}
{% block content %}
<div class="container top-container">
    <div class="panel panel-default jumbotron">
        <div class="panel-title">
            <h1 class="text-center">Welcome to Tingmen</h1>
        </div>
        <div class="panel-body text-center">
            <p class="lead">Tingmen is a social network where every feature and aspect of the website can be changed or added by users with a voting system.</p>
            <p class="lead">This project is still in a very early phase of development. You can check how things are going on the <a href="https://github.com/pasqu4le/tingmen">Github page</a>, or you can register into our mailing list:</p>
            <p class="lead">
                <a href="/subscribe/news/" class="btn btn-lg btn-default">Subscribe</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}