{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    {{ macros.sjiax_scripts(form_init_js) }}
    {{ macros.post_form_scripts(current_user topics_all) }}
{% endblock %}

{% block central_column %}
    {{ macros.render_law(law, current_user, actions_footer=True, comment_here=True) }}
    {{ macros.render_post_group(posts, current_user, submit_post_form, new_post=False, load_more=True, posts_group='topic', posts_name=law.topic.name) }}
{% endblock %}

{% block side_column %}
    {{ macros.law_widget(statuses) }}
{% endblock %}