{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    {{ macros.sjiax_scripts() }}
{% endblock %}

{% block central_column %}
    <div class="jumbotron">
        <h3>{{ group.name }} laws{% if group.description %}: <small>{{ group.description }}</small>{% endif %}</h3>
        <h4>{{ status.name }}{% if status.description %}: <small>{{ status.description }}</small>{% endif %}</h4>
    </div>
    <div id="laws-container">
    {% for law in laws %}
        {{ macros.render_law(law, current_user)}}
    {% endfor %}
    </div>
    <div class="panel panel-info" id="load_laws_container">
        {{ macros.more_laws_panel(group.name, status.name, laws[-1].date) }}
    </div>
{% endblock %}

{% block side_column %}
    {{ macros.status_widget(status, statuses, group=group) }}
{% endblock %}