{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    {{ macros.sjiax_scripts() }}
{% endblock %}

{% block central_column %}
    <div class="jumbotron">
        <h4>{{ current_status.name }}{% if current_status.description %}: <small>{{ current_status.description }}</small>{% endif %}</h4>
    </div>
    <div id="laws-container">
        {% for law in laws %}
            {{ macros.render_law(law, current_user, actions_footer=True)}}
        {% endfor %}
    </div>
    <div id="load_more_container">
        {% if laws %}
            {{ macros.more_laws_panel(None, current_status.name, laws[-1].date) }}
        {% else %}
            {{ macros.more_laws_panel(None, current_status.name, None) }}
        {% endif %}
    </div>
    {% if laws %}
        {{ macros.load_more_scripts() }}
    {% endif %}
{% endblock %}

{% block side_column %}
    {{ macros.law_widget(statuses, current_status=current_status) }}
{% endblock %}