{% macro sjiax_scripts(form_init_js=None) -%}
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax_upload.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
    {% if form_init_js %}
        {{ form_init_js|safe }}
    {% endif %}
</script>
{%- endmacro %}

{# --------------------------- Widgets Macros -------------------------------- #}

{% macro topics_widget(topics, main_topic=None) -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Topics</p>
    </div>
    <ul class="panel-body nav nav-pills nav-stacked">
        {% for topic in topics %}
            <li role="presentation" {% if main_topic and topic == main_topic %}class="active"{% endif %}><a href="/topic/{{ topic.name }}/">#{{ topic.name }}</a></li>
        {% endfor %}
    </ul>

</div>
{%- endmacro %}

{% macro user_widget(main_subpage, subpages, user) -%}
<div class="panel panel-primary">
    <div class="panel-heading panel-title">
        <img class="img-rounded img-responsive center-block" src="{{ user.email | gravatar }}">
        <p class="text-center "> @{{ user.username }}</p>
    </div>
    <ul class="panel-body nav nav-pills nav-stacked">
        {% for subpage in subpages %}
            <li role="presentation" {% if main_subpage == subpage %}class="active"{% endif %}><a href="/user/{{ user.username }}/{{ subpage }}/">{{ subpage }}</a></li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{# --------------------------- Rendering Macros -------------------------------- #}

{% macro render_post_group(posts, current_user, submit_post_form, new_post=False, load_more=False, posts_group=None, posts_name=None) -%}
    {{ post_modal_script() }}
    {{ post_modal(submit_post_form, current_user) }}
    {% if new_post %}
        {{ new_post_panel(current_user) }}
    {% endif %}
    <div id="post-container">
    {% for post in posts %}
        {{ render_post(post, current_user) }}
    {% endfor %}
    </div>
    {% if posts and load_more %}
        <div class="panel panel-info" id="load_more_container">
            {{ more_posts_panel(posts_group, posts_name, posts[-1].date) }}
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_post(post, current_user) -%}
<div class="panel panel-default">
    <div class="row panel-body">
        <div class="col-md-2 col-xs-3">
            <img class="img-rounded img-responsive center-block" src="{{ post.poster.email | gravatar }}">
            <p></p>
            {# render vote form #}
            <div class="btn-group-vertical btn-block">
                <button class="btn btn-success btn-xs btn-block" href="javascript://" onclick="Sijax.request('vote_post', ['{{ post.id}}', true]);">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                <a class="btn btn-default btn-block disabled">
                    <strong class="{{ post.current_vote_style(current_user) }}" id="post_vote_{{ post.id }}">{{ post.points()}}</strong>
                </a>
                <button class="btn btn-danger btn-xs btn-block" href="javascript://" onclick="Sijax.request('vote_post', ['{{ post.id}}', false]);">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </button>
            </div>
        </div>
        <div class="col-md-10 col-xs-9">
            <h4 class="text-info"><a href="/user/{{ post.poster.username }}/"> – @{{ post.poster.username }}</a></h4>
            <div class="post-content-text">{{ post.content | safe }}</div>
        </div>
    </div>
    <div class="panel-footer">
        <p>
            <a href="/post/{{ post.id }}/" class="text-muted"><span class="glyphicon glyphicon-link"></span> {{ post.date.year }}-{{ post.date.month }}-{{ post.date.day }} {{ post.date.hour }}:{{ post.date.minute }}</a>
            <span>  –  </span>
            <a href="/post/{{ post.id }}/"><span class="glyphicon glyphicon-comment"></span> {{ post.children|length }} comments</a>
            <span>  –  </span>
            <a href="" data-toggle="modal" data-target="#postModal" data-parent='{"id":{{ post.id }},"poster":"{{ post.poster.username }}","topics":"{% for topic in post.topics %}#{{topic.name}} {% endfor %}"}'><span class="glyphicon glyphicon-share-alt"></span> reply</a>
        </p>
        <p><span class="glyphicon glyphicon-tags"></span> -{% for topic in post.topics %}
            <a href="/topic/{{ topic.name }}/"> #{{ topic.name }}</a>{% endfor %}
        </p>
    </div>
</div>
{%- endmacro %}

{% macro render_field(field, label_visible=false) -%}
     <div class="form-group {% if field.errors %}has-error has-feedback{% endif %} {{ kwargs.pop('class_', '') }}">
         {{ field(class_='form-control', **kwargs) }}{% if field.type != 'HiddenField' and label_visible %} {{ field.label }}{% endif %}
         {% if field.errors %}
         <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
         {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
         {% endfor %}
         {% endif %}
    </div>
{%- endmacro %}

{% macro more_posts_panel(group, name, older_than) -%}
    {% if older_than %}
        <a class="panel-body btn btn-primary btn-lg btn-block" href="javascript://" onclick="Sijax.request('load_more_posts', [{% if group %}'{{ group }}'{% else %}null{% endif %}, {% if name %}'{{ name }}'{% else %}null{% endif %}, '{{ older_than }}']);">
            Load older posts
        </a>
    {% else %}
        <a class="panel-body btn btn-default btn-lg btn-block disabled">There are no more posts here</a>
    {% endif %}
{%- endmacro %}

{# --------------------------- Macros for the post modal form -------------------------------- #}

{% macro post_modal_script() -%}
    <script>
        $(function(){
            $('#postModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var parent = button.data('parent');
                var modal = $(this);
                if (parent != null){
                    modal.find('.modal-title').text('Reply to @' + parent.poster + ' post');
                    modal.find('#parent_id').val(parent.id)
                    modal.find('#topics').val(parent.topics)
                } else {
                    modal.find('.modal-title').text('New post');
                }
            });
        });
    </script>
{%- endmacro %}

{% macro post_modal(submit_post_form, current_user) -%}
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="ModalTitle"></h4>
                </div>
                <div class="modal-body" id="post_form_container">
                        {{ render_post_form(submit_post_form, current_user) }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro new_post_panel(current_user) -%}
    <div class="panel panel-info">
        <div class="panel-body row">
            <h4 class="col-xs-7 col-md-9">Hey there {{ current_user.username }}, do you have something to share?</h4>
            <button type="button" class="btn btn-primary btn-lg col-xs-5 col-md-3" data-toggle="modal" data-target="#postModal">Make a post!</button>
        </div>
    </div>
{%- endmacro %}

{% macro render_post_form(submit_post_form, current_user) -%}
<form class="panel panel-default form" enctype="multipart/form-data" method="POST" name="post_form" id="post_form">
    {{ submit_post_form.hidden_tag() }}
    <div class="row panel-body">
        <div class="col-md-2 col-xs-3">
            <img class="img-rounded img-responsive center-block" src="{{ current_user.email | gravatar }}">
            <p></p>
        </div>
        <div class="col-md-10 col-xs-9">
            <h4 class="text-info"><a href="/user/{{ current_user.username }}/"> – @{{ current_user.username }}</a></h4>
            {{ render_field(submit_post_form.content) }}
        </div>
    </div>
    <div class="panel-footer">
        {{ render_field(submit_post_form.topics) }}
        {{ render_field(submit_post_form.submit) }}
    </div>
</form>
{%- endmacro %}
