{% macro sjiax_scripts(form_init_js=None) -%}
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax_upload.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
    {% if form_init_js %}
        {{ form_init_js|safe }}
    {% endif %}
</script>
{%- endmacro %}

{# --------------------------- Widgets Macros -------------------------------- #}

{% macro topics_widget(topics, main_topic=None) -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Topics</p>
    </div>
    <ul class="panel-body nav nav-pills nav-stacked">
        {% for topic in topics %}
            <li role="presentation" {% if main_topic and topic == main_topic %}class="active"{% endif %}><a href="/topic/{{ topic.name }}/">#{{ topic.name }}</a></li>
        {% endfor %}
    </ul>

</div>
{%- endmacro %}

{% macro status_widget(main_status, statuses, group=None) -%}
<div class="panel panel-primary">
    <div class="panel-heading panel-title">
        <p class="text-center ">Status</p>
    </div>
    <ul class="panel-body nav nav-pills nav-stacked">
        {% for status in statuses %}
            <li role="presentation" {% if main_status.name == status.name %}class="active"{% endif %}><a href="/laws/{% if group %}group/{{ group.name }}{% else %}status{% endif %}/{{ status.name }}/">{{ status.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{% macro user_widget(main_subpage, subpages, user) -%}
<div class="panel panel-primary">
    <div class="panel-heading panel-title">
        <img class="img-rounded img-responsive center-block" src="{{ user.email | gravatar }}">
        <p class="text-center "> @{{ user.username }}</p>
    </div>
    <ul class="panel-body nav nav-pills nav-stacked">
        {% for subpage in subpages %}
            <li role="presentation" {% if main_subpage == subpage %}class="active"{% endif %}><a href="/user/{{ user.username }}/{{ subpage }}/">{{ subpage }}</a></li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{# --------------------------- Rendering Macros -------------------------------- #}


{% macro render_proposal(proposal, current_user, comment_here=False) -%}
<div class="panel panel-primary" id="proposal-{{ proposal.id }}">
    <div class="panel-heading">
        <a href="/proposal/{{ proposal.id }}/" class="panel-title">Proposal n. {{ proposal.id }}</a>, by <a href="/user/{{ proposal.poster.username }}/" class="panel-title">@{{ proposal.poster.username }}</a>
    </div>
    <div class="panel-body">
        <div class="safe-content-text panel-body">{{ proposal.description | safe }}</div>
        <div class="divider"></div>
        <div class="alert alert-success text-center">Laws this proposal will add:</div>
        {% for law in proposal.add_laws %}
            {{ render_law(law, current_user) }}
        {% endfor %}
        <div class="alert alert-danger text-center">Laws this proposal will remove:</div>
        {% for law in proposal.remove_laws %}
            {{ render_law(law, current_user) }}
        {% endfor %}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10 col-xs-8">
                <a class="btn btn-default disabled">
                    <span class="badge">{{ proposal.points() }}</span>
                </a>
            </div>
            <div class="col-md-2 col-xs-4">
                {% if comment_here %}
                <a class="btn btn-primary btn-block" href="" data-toggle="modal" data-target="#postModal" data-autofill='{"topics":"#{{ proposal.topic.name }}"}'><span class="glyphicon glyphicon-share-alt"></span> reply</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro render_law(law, current_user, comment_here=False) -%}
<div class="panel panel-info" id="law-{{ law.id }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-7"><a href="/law/{{ law.id }}/" class="panel-title">Law n. {{ law.id }}</a>
                <small> in {% for group in law.group %}<a href="/laws/group/{{group.name}}/">{{group.name}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</small>
            </div>
            <div class="col-xs-5 text-right">{% for status in law.status %}<a href="/laws/status/{{status.name}}/" class="label label-success">{{status.name}}</a> {% endfor %}</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="safe-content-text">{{ law.content | safe }}</div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10 col-xs-8">
                <a class="btn btn-link" href="/law/{{ law.id }}/"><span class="glyphicon glyphicon-comment"></span> Discussion <span class="badge">{{ law.topic.posts.count() }}</span></a>
            </div>
            <div class="col-md-2 col-xs-4">
                {% if comment_here %}
                <a class="btn btn-primary btn-block" href="" data-toggle="modal" data-target="#postModal" data-autofill='{"topics":"#{{ law.topic.name }}"}'><span class="glyphicon glyphicon-share-alt"></span> reply</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro render_post_group(posts, current_user, submit_post_form, new_post=False, load_more=False, posts_group=None, posts_name=None, topic=None) -%}
    {{ post_modal_script(current_user) }}
    {{ post_modal(submit_post_form, current_user) }}
    {% if new_post %}
        {{ new_post_panel(current_user, topic=topic) }}
    {% endif %}
    <div id="post-container">
    {% for post in posts %}
        {{ render_post(post, current_user) }}
    {% endfor %}
    </div>
    {% if posts and load_more %}
        <div class="panel panel-info" id="load_more_container">
            {{ more_posts_panel(posts_group, posts_name, posts[-1].date) }}
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_post(post, current_user) -%}
<div class="panel panel-default" id="post-{{ post.id }}">
    <div class="row panel-body">
        <div class="col-md-2 col-xs-3">
            <img class="img-rounded img-responsive center-block" src="{{ post.poster.email | gravatar }}">
            <p></p>
            {# render vote form #}
            <div class="btn-group-vertical btn-block">
                {% if current_user.is_authenticated %}
                <button class="btn btn-success btn-xs btn-block" href="javascript://" onclick="Sijax.request('vote_post', ['{{ post.id}}', true]);">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                <a class="btn btn-default btn-block disabled">
                    <strong class="{{ post.current_vote_style(current_user) }}" id="post_vote_{{ post.id }}">{{ post.points()}}</strong>
                </a>
                <button class="btn btn-danger btn-xs btn-block" href="javascript://" onclick="Sijax.request('vote_post', ['{{ post.id}}', false]);">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </button>
                {% else %}
                <a class="btn btn-success btn-xs btn-block" href="/login">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <a class="btn btn-default btn-block disabled">
                    <strong >{{ post.points()}}</strong>
                </a>
                <a class="btn btn-danger btn-xs btn-block" href="/login">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10 col-xs-9">
            <div class="row">
                <p class="lead text-info col-xs-5"><a href="/user/{{ post.poster.username }}/"> –@{{ post.poster.username }}</a></p>
                <a href="/post/{{ post.id }}/" class="col-xs-7 text-right text-muted">{{ post.date.year }}-{{ post.date.month }}-{{ post.date.day }} {{ post.date.hour }}:{{ post.date.minute }} <span class="glyphicon glyphicon-link"></span></a>
            </div>
            <div class="safe-content-text">{{ post.content | safe }}</div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10 col-xs-8">
                <span class="glyphicon glyphicon-tags"></span> -{% for topic in post.topics %}
                <a href="/topic/{{ topic.name }}/"> #{{ topic.name }}</a>{% endfor %}
            </div>
            <div class="col-md-2 col-xs-4">
                <a class="btn btn-primary btn-block" href="" data-toggle="modal" data-target="#postModal" data-autofill='{"id":{{ post.id }},"poster":"{{ post.poster.username }}","topics":"{% for topic in post.topics %}#{{topic.name}} {% endfor %}"}'><span class="glyphicon glyphicon-share-alt"></span> reply</a>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro render_field(field, label_visible=false) -%}
     <div class="form-group {% if field.errors %}has-error has-feedback{% endif %} {{ kwargs.pop('class_', '') }}">
         {{ field(class_='form-control', **kwargs) }}{% if field.type != 'HiddenField' and label_visible %} {{ field.label }}{% endif %}
         {% if field.errors %}
         <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
         {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
         {% endfor %}
         {% endif %}
    </div>
{%- endmacro %}

{% macro more_laws_panel(group_name, status_name, older_than) -%}
    {% if older_than %}
        <a class="panel-body btn btn-primary btn-lg btn-block" href="javascript://" onclick="Sijax.request('load_more_laws', [{% if group_name %}'{{ group_name }}'{% else %}null{% endif %}, {% if status_name %}'{{ status_name }}'{% else %}null{% endif %}, '{{ older_than }}']);">
            Load older laws
        </a>
    {% else %}
        <a class="panel-body btn btn-default btn-lg btn-block disabled">There are no more laws here</a>
    {% endif %}
{%- endmacro %}

{% macro more_posts_panel(group, name, older_than) -%}
    {% if older_than %}
        <a class="panel-body btn btn-primary btn-lg btn-block" href="javascript://" onclick="Sijax.request('load_more_posts', [{% if group %}'{{ group }}'{% else %}null{% endif %}, {% if name %}'{{ name }}'{% else %}null{% endif %}, '{{ older_than }}']);">
            Load older posts
        </a>
    {% else %}
        <a class="panel-body btn btn-default btn-lg btn-block disabled">There are no more posts here</a>
    {% endif %}
{%- endmacro %}

{# --------------------------- Macros for the post modal form -------------------------------- #}

{% macro post_modal_script(current_user) -%}
    {% if current_user.is_authenticated %}
    <script>
        $(function(){
            $('#postModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var autofill = button.data('autofill');
                var modal = $(this);
                if (autofill != null){
                    if (autofill.poster != null){
                        modal.find('.modal-title').text('Reply to @' + autofill.poster + ' post');
                    } else {
                        modal.find('.modal-title').text('New post');
                    }
                    if (autofill.id != null){
                        modal.find('#parent_id').val(autofill.id);
                    }
                    if (autofill.topics != null){
                        modal.find('#topics').val(autofill.topics);
                    }
                } else {
                    modal.find('.modal-title').text('New post');
                }
            });
        });
    </script>
    {% endif %}
{%- endmacro %}

{% macro post_modal(submit_post_form, current_user) -%}
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% if current_user.is_authenticated %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="ModalTitle"></h4>
                </div>
                <div class="modal-body" id="post_form_container">
                        {{ render_post_form(submit_post_form, current_user) }}
                </div>
                {% else %}
                <div class="modal-body">
                    <p>You need to be logged in to post something</p>
                    <a class="btn btn-lg btn-primary btn-block" href="/login">Login now</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro new_post_panel(current_user, topic=None) -%}
    {% if current_user.is_authenticated %}
    <div class="panel panel-info">
        <div class="panel-body row">
            <h4 class="col-xs-7 col-md-9">Hey there {{ current_user.username }}, do you have something to share?</h4>
            <button type="button" class="btn btn-primary btn-lg col-xs-5 col-md-3" data-toggle="modal" data-target="#postModal" {% if topic %}data-autofill='{"topics":"#{{ topic.name }}"}'{% endif %}>Make a post!</button>
        </div>
    </div>
    {% endif %}
{%- endmacro %}

{% macro render_post_form(submit_post_form, current_user) -%}
<form class="panel panel-default form" enctype="multipart/form-data" method="POST" name="post_form" id="post_form">
    {{ submit_post_form.hidden_tag() }}
    <div class="row panel-body">
        <div class="col-md-2 col-xs-3">
            <img class="img-rounded img-responsive center-block" src="{{ current_user.email | gravatar }}">
            <p></p>
        </div>
        <div class="col-md-10 col-xs-9">
            <h4 class="text-info"><a href="/user/{{ current_user.username }}/"> – @{{ current_user.username }}</a></h4>
            {{ render_field(submit_post_form.content) }}
        </div>
    </div>
    <div class="panel-footer">
        {{ render_field(submit_post_form.topics) }}
        {{ render_field(submit_post_form.submit) }}
    </div>
</form>
{%- endmacro %}
