{# --------------------------- Widgets Macros -------------------------------- #}

{% macro topics_widget(topics, main_topic=None) -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Topics</p>
    </div>
    <ul class="panel-body nav nav-pills nav-stacked">
        {% for topic in topics %}
            <li role="presentation" {% if main_topic and topic == main_topic %}class="active"{% endif %}><a href="/topic/{{ topic.name }}/">#{{ topic.name }}</a></li>
        {% endfor %}
    </ul>

</div>
{%- endmacro %}

{% macro user_widget(main_subpage, subpages, user) -%}
<div class="panel panel-primary">
    <div class="panel-heading panel-title">
        <img class="img-rounded img-responsive center-block" src="{{ user.email | gravatar }}">
        <p class="text-center "> @{{ user.username }}</p>
    </div>
    <ul class="panel-body nav nav-pills nav-stacked">
        {% for subpage in subpages %}
            <li role="presentation" {% if main_subpage == subpage %}class="active"{% endif %}><a href="/user/{{ user.username }}/{{ subpage }}/">{{ subpage }}</a></li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{# --------------------------- Rendering Macros -------------------------------- #}

{% macro render_post(post, vote_post_form=None) -%}
<div class="panel panel-default">
    <div class="row panel-body">
        <div class="col-md-2 col-xs-3">
            <img class="img-rounded img-responsive center-block" src="{{ post.poster.email | gravatar }}">
            <p></p>
            {% if vote_post_form %}
            {{ render_vote_form(vote_post_form, post) }}
            {% endif %}
        </div>
        <div class="col-md-10 col-xs-9">
            <h4 class="text-info"><a href="/user/{{ post.poster.username }}/"> – @{{ post.poster.username }}</a></h4>
            <div class="post-content-text">{{ post.content | safe }}</div>
        </div>
    </div>
    <div class="panel-footer">
        <p>
            <a href="/post/{{ post.id }}/" class="text-muted"><span class="glyphicon glyphicon-link"></span> {{ post.date.year }}-{{ post.date.month }}-{{ post.date.day }} {{ post.date.hour }}:{{ post.date.minute }}</a>
            <span>  –  </span>
            <a href="/post/{{ post.id }}/"><span class="glyphicon glyphicon-comment"></span> {{ post.children|length }} comments</a>
            <span>  –  </span>
            <a href="" data-toggle="modal" data-target="#postModal" data-parent='{"id":{{ post.id }},"poster":"{{ post.poster.username }}"}'><span class="glyphicon glyphicon-share-alt"></span> reply</a>
        </p>
        <p><span class="glyphicon glyphicon-tags"></span> -{% for topic in post.topics %}<a
                href="/topic/{{ topic.name }}/"> #{{ topic.name }}</a>{% endfor %}</p>
    </div>
</div>
{%- endmacro %}

{% macro render_vote_form(vote_post_form, post) -%}
<form class="form" action="/vote/{{ post.id }}/" method="POST" name="vote_post_form">
    {{ vote_post_form.hidden_tag() }}
    <div class="btn-group-vertical btn-block">
        {# rendered without render_field so they can behave as a vertical btn-block #}
        {{ vote_post_form.upvote }}
        <a class="btn btn-default btn-sm btn-block disabled" role="button">{{ post.points() }}</a>
        {{ vote_post_form.downvote }}
    </div>
</form>
{%- endmacro %}

{% macro render_field(field, label_visible=false) -%}
     <div class="form-group {% if field.errors %}has-error has-feedback{% endif %} {{ kwargs.pop('class_', '') }}">
         {{ field(class_='form-control', **kwargs) }}{% if field.type != 'HiddenField' and label_visible %} {{ field.label }}{% endif %}
         {% if field.errors %}
         <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
         {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
         {% endfor %}
         {% endif %}
    </div>
{%- endmacro %}

{# --------------------------- Macros for the post modal form -------------------------------- #}

{% macro post_modal_script() -%}
    <script>
        $(function(){
            $('#postModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var parent = button.data('parent');
                var modal = $(this);
                if (parent != null){
                    modal.find('.modal-title').text('Reply to @' + parent.poster + ' post');
                    modal.find('#parent_id').val(parent.id)
                } else {
                    modal.find('.modal-title').text('New post');
                }
            });
        });
    </script>
{%- endmacro %}

{% macro post_modal(submit_post_form, current_user) -%}
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                        {{ render_post_form(submit_post_form, current_user) }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro new_post_panel(current_user) -%}
    <div class="panel panel-info">
        <div class="panel-body row">
            <h4 class="col-xs-7 col-md-9">Hey there {{ current_user.username }}, do you have something to share?</h4>
            <button type="button" class="btn btn-primary btn-lg col-xs-5 col-md-3" data-toggle="modal" data-target="#postModal">Make a post!</button>
        </div>
    </div>
{%- endmacro %}

{% macro render_post_form(submit_post_form, current_user) -%}
<form class="panel panel-default form" action="/submit/post/" method="POST" name="submit_post_form">
    {{ submit_post_form.hidden_tag() }}
    <div class="row panel-body">
        <div class="col-md-2 col-xs-3">
            <img class="img-rounded img-responsive center-block" src="{{ current_user.email | gravatar }}">
            <p></p>
        </div>
        <div class="col-md-10 col-xs-9">
            <h4 class="text-info"><a href="/user/{{ current_user.username }}/"> – @{{ current_user.username }}</a></h4>
            {{ render_field(submit_post_form.content) }}
        </div>
    </div>
    <div class="panel-footer">
        {{ render_field(submit_post_form.topics) }}
        {{ render_field(submit_post_form.submit) }}
    </div>
</form>
{%- endmacro %}
