{% import "macros.html" as macros %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn-default collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/static/img/logo.png">
            </a>
            <a class="navbar-brand" href="/">TINGSMEN <small>BETA</small></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <p class="nav navbar-nav navbar-left navbar-text hidden-xs hidden-sm">The democratic social network</p>
            <ul class="nav navbar-nav navbar-right">
                {% if pages %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>About </span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for page in pages %}
                                <li><a href="/page/{{ page.name }}">{{ page.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li><a href="/laws/">Laws</a></li>
                <li><a href="/proposals/">Proposals</a></li>
                <li class="navbar-search">
                    {# --- manually rendered to support classes, icon, tooltip and behaviour --- #}
                    <form class="navbar-form" action="/search/" method="POST" name="search_form">
                        {{ search_form.hidden_tag() }}
                        <div class="form-group has-feedback">
                            <input class="form-control navbar-search-input" id="interrogation" name="interrogation" placeholder="Search" type="text" title="Start a research" value="">
                            <i class="glyphicon glyphicon-search form-control-feedback"></i>
                        </div>
                    </form>
                </li>
                {% if current_user.is_authenticated %}
                    <li>
                        <a href="/new-proposal/">
                            <span class="visible-xs-inline">Propose </span>
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="visible-xs-inline">Notifications </span><span id="notifications_bell" class="glyphicon glyphicon-bell{% if current_user.has_unseen_notifications() %} notif-unseen{% endif %}"></span>
                        </a>
                        <ul class="dropdown-menu" id="notifications_dropdown">
                            {{ macros.render_notifications_dropdown(current_user) }}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img style="float:left" class="img-rounded img-responsive" src="{{ current_user.email | gravatar(size=25) }}">
                            <span class="navbar-username">@{{ current_user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/{{ current_user.username }}/"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="/settings/"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>