{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    {{ macros.sjiax_scripts(form_init_js) }}
    {{ macros.post_form_scripts(current_user, topics_all) }}
{% endblock %}

{% block central_column %}
    {{ macros.render_collapsable_post_form(submit_post_form, current_user) }}
    {% if old_parent %}
        <div class="panel panel-info">
            <div class="panel-body row">
                <h4 class="col-xs-7 col-md-9">This post is a comment of a bigger discussion</h4>
                <a class="btn btn-primary btn-lg col-xs-5 col-md-3" href="/post/{{ old_parent.id }}/">
                    Look at it
                </a>
            </div>
        </div>
    {% endif %}
    <div id="post-container">
        {{ macros.render_post(main_post, current_user) }}
        {% if children %}
            {% for child, depth in children %}
                <div class="row">
                    <div class="col-xs-{{ depth }}"></div>
                    <div class="col-xs-{{ 12 - depth }}">
                        {{ macros.render_post(child, current_user) }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block side_column %}
    {{ macros.topics_widget(some_topics, more_topics_number) }}
{% endblock %}