{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    {{ macros.sjiax_scripts(form_init_js) }}
    {{ macros.post_form_scripts(current_user, topics_all) }}
{% endblock %}

{% block central_column %}
    {{ macros.render_collapsable_post_form(submit_post_form, current_user) }}
    {% if old_parent %}
        <div class="panel panel-info">
            <div class="panel-body">
                <h4 class="pull-left">This post is a comment of a bigger discussion</h4>
                <a class="btn btn-primary btn-lg pull-right" href="{{ old_parent.link_to() }}">
                    Look at it
                </a>
            </div>
        </div>
    {% endif %}
    <div id="post-container">
        {{ macros.render_post(main_post, current_user) }}
    </div>
{% endblock %}

{% block side_column %}
    {{ macros.topics_widget(some_topics, more_topics_number) }}
{% endblock %}