{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    {{ macros.sjiax_scripts() }}
{% endblock %}

{% block central_column %}
    <div class="jumbotron">
        <h3>{{ current_status }} proposals{% if description %}: <small>{{ description }}</small>{% endif %}</h3>
    </div>
    <div id="proposals-container">
        {% for proposal in proposals %}
            {{ macros.render_proposal(proposal, current_user)}}
        {% endfor %}
    </div>
    <div id="load_more_container">
        {% if proposals %}
            {% if current_status == 'open' %}
                {{ macros.more_proposals_panel(proposals[-1].date, open=True) }}
            {% elif current_status == 'pending' %}
                {{ macros.more_proposals_panel(proposals[-1].date, pending=True) }}
            {% else %}
                {{ macros.more_proposals_panel(proposals[-1].date) }}
            {% endif %}
        {% else %}
            {{ macros.more_proposals_panel(None) }}
        {% endif %}
    </div>
    {% if proposals %}
        {{ macros.load_more_scripts() }}
    {% endif %}
{% endblock %}

{% block side_column %}
    {{ macros.proposal_widget(statuses, current_status=current_status) }}
{% endblock %}