{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
    {{ macros.sjiax_scripts(form_init_js) }}
    {{ macros.post_form_scripts(current_user, topics_all) }}
{% endblock %}

{% block central_column %}
    {% if current_topic.description %}
        <div class="jumbotron">
            <p>{{ current_topic.description }}</p>
        </div>
    {% endif %}
    {{ macros.render_post_group(posts, current_user, submit_post_form, new_post=True, load_more=True, posts_group='topic', posts_name=current_topic.name, topic=current_topic) }}
{% endblock %}

{% block side_column %}
    {{ macros.topics_widget(some_topics, more_topics_number, current_topic=current_topic) }}
{% endblock %}