{% extends "columned.html" %}
{% import "macros.html" as macros %}

{% block head_custom %}
{% endblock %}

{% block central_column %}
    <div class="list-group">
        {% for topic in topic_list %}
        <a href="/topic/{{ topic.name }}/" class="list-group-item">
            <span class="badge">{{ topic.posts.count() }}</span>
            <h2 class="list-group-item-heading">#{{ topic.name }}</h2>
            {% if topic.description %}
            <p class="list-group-item-text">{{ topic.description }}</p>
            {% endif %}
        </a>
        {% endfor %}
    </div>
{% endblock %}

{% block side_column %}
{% endblock %}

